[Desktop Entry]
Name=Tuquito Update
Comment=Tuquito Update Manager
Icon=stock_lock
Exec=tuquito-update
Terminal=false
Type=Application
Categories=Utility;
