[Desktop Entry]
Name=Tuquito Update
Comment=Tuquito Update Manager
Icon=stock_lock
Exec=/usr/lib/tuquito/tuquito-update/update-manager.py
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;KDE;
